--color-international-klein-blue-50: #e6ecfe;
--color-international-klein-blue-100: #ced9fd;
--color-international-klein-blue-200: #9cb2fc;
--color-international-klein-blue-300: #6b8cfa;
--color-international-klein-blue-400: #3966f9;
--color-international-klein-blue-500: #0840f7;
--color-international-klein-blue-600: #0633c6;
--color-international-klein-blue-700: #052694;
--color-international-klein-blue-800: #031963;
--color-international-klein-blue-900: #020d31;
--color-international-klein-blue-950: #010923;

--color-majorelle-blue-50: #ebe9fc;
--color-majorelle-blue-100: #d8d3f8;
--color-majorelle-blue-200: #b1a7f1;
--color-majorelle-blue-300: #8a7bea;
--color-majorelle-blue-400: #624fe3;
--color-majorelle-blue-500: #3b22dd;
--color-majorelle-blue-600: #2f1cb0;
--color-majorelle-blue-700: #241584;
--color-majorelle-blue-800: #180e58;
--color-majorelle-blue-900: #0c072c;
--color-majorelle-blue-950: #08051f;

--color-soft-periwinkle-50: #efecf9;
--color-soft-periwinkle-100: #e0d9f2;
--color-soft-periwinkle-200: #c1b3e6;
--color-soft-periwinkle-300: #a28cd9;
--color-soft-periwinkle-400: #8366cc;
--color-soft-periwinkle-500: #6440bf;
--color-soft-periwinkle-600: #503399;
--color-soft-periwinkle-700: #3c2673;
--color-soft-periwinkle-800: #28194d;
--color-soft-periwinkle-900: #140d26;
--color-soft-periwinkle-950: #0e091b;

--color-powder-blush-50: #fceae9;
--color-powder-blush-100: #f8d6d3;
--color-powder-blush-200: #f1ada7;
--color-powder-blush-300: #ea847b;
--color-powder-blush-400: #e35b4f;
--color-powder-blush-500: #dd3222;
--color-powder-blush-600: #b0281c;
--color-powder-blush-700: #841e15;
--color-powder-blush-800: #58140e;
--color-powder-blush-900: #2c0a07;
--color-powder-blush-950: #1f0705;

--color-rose-kiss-50: #fde8f1;
--color-rose-kiss-100: #fbd0e3;
--color-rose-kiss-200: #f7a1c6;
--color-rose-kiss-300: #f372aa;
--color-rose-kiss-400: #ef438e;
--color-rose-kiss-500: #eb1471;
--color-rose-kiss-600: #bc105b;
--color-rose-kiss-700: #8d0c44;
--color-rose-kiss-800: #5e082d;
--color-rose-kiss-900: #2f0417;
--color-rose-kiss-950: #210310;

