--color-international-klein-blue-50: #e5ecff;
--color-international-klein-blue-100: #ccd9ff;
--color-international-klein-blue-200: #99b3ff;
--color-international-klein-blue-300: #668cff;
--color-international-klein-blue-400: #3366ff;
--color-international-klein-blue-500: #0040ff;
--color-international-klein-blue-600: #0033cc;
--color-international-klein-blue-700: #002699;
--color-international-klein-blue-800: #001966;
--color-international-klein-blue-900: #000d33;
--color-international-klein-blue-950: #000924;

--color-twitter-blue-50: #e5f4ff;
--color-twitter-blue-100: #cce9ff;
--color-twitter-blue-200: #99d3ff;
--color-twitter-blue-300: #66bdff;
--color-twitter-blue-400: #33a7ff;
--color-twitter-blue-500: #0091ff;
--color-twitter-blue-600: #0074cc;
--color-twitter-blue-700: #005799;
--color-twitter-blue-800: #003a66;
--color-twitter-blue-900: #001d33;
--color-twitter-blue-950: #001424;

--color-burnt-orange-50: #ffefe5;
--color-burnt-orange-100: #ffe0cc;
--color-burnt-orange-200: #ffc099;
--color-burnt-orange-300: #ffa166;
--color-burnt-orange-400: #ff8133;
--color-burnt-orange-500: #ff6200;
--color-burnt-orange-600: #cc4e00;
--color-burnt-orange-700: #993b00;
--color-burnt-orange-800: #662700;
--color-burnt-orange-900: #331400;
--color-burnt-orange-950: #240e00;

--color-dark-magenta-50: #fbeafa;
--color-dark-magenta-100: #f7d4f5;
--color-dark-magenta-200: #efa9eb;
--color-dark-magenta-300: #e77ee1;
--color-dark-magenta-400: #de54d7;
--color-dark-magenta-500: #d629ce;
--color-dark-magenta-600: #ab21a4;
--color-dark-magenta-700: #81187b;
--color-dark-magenta-800: #561052;
--color-dark-magenta-900: #2b0829;
--color-dark-magenta-950: #1e061d;

--color-teal-50: #e5fcff;
--color-teal-100: #ccf9ff;
--color-teal-200: #99f3ff;
--color-teal-300: #66edff;
--color-teal-400: #33e7ff;
--color-teal-500: #00e1ff;
--color-teal-600: #00b4cc;
--color-teal-700: #008799;
--color-teal-800: #005a66;
--color-teal-900: #002d33;
--color-teal-950: #002024;

