--color-peach-glow-50: #fbf3e9;
--color-peach-glow-100: #f8e6d3;
--color-peach-glow-200: #f1cda7;
--color-peach-glow-300: #eab47b;
--color-peach-glow-400: #e29b50;
--color-peach-glow-500: #db8324;
--color-peach-glow-600: #af681d;
--color-peach-glow-700: #844e15;
--color-peach-glow-800: #58340e;
--color-peach-glow-900: #2c1a07;
--color-peach-glow-950: #1f1205;

--color-cherry-rose-50: #fce9ee;
--color-cherry-rose-100: #f8d3dc;
--color-cherry-rose-200: #f1a7b9;
--color-cherry-rose-300: #ea7b97;
--color-cherry-rose-400: #e34f74;
--color-cherry-rose-500: #dd2251;
--color-cherry-rose-600: #b01c41;
--color-cherry-rose-700: #841531;
--color-cherry-rose-800: #580e20;
--color-cherry-rose-900: #2c0710;
--color-cherry-rose-950: #1f050b;

--color-vintage-grape-50: #f5f0f4;
--color-vintage-grape-100: #eae1e9;
--color-vintage-grape-200: #d5c3d3;
--color-vintage-grape-300: #c0a5bd;
--color-vintage-grape-400: #ab87a6;
--color-vintage-grape-500: #966990;
--color-vintage-grape-600: #785473;
--color-vintage-grape-700: #5a3f57;
--color-vintage-grape-800: #3c2a3a;
--color-vintage-grape-900: #1e151d;
--color-vintage-grape-950: #150f14;

--color-khaki-beige-50: #f6f3ee;
--color-khaki-beige-100: #eee6dd;
--color-khaki-beige-200: #dccebc;
--color-khaki-beige-300: #cbb59a;
--color-khaki-beige-400: #ba9c78;
--color-khaki-beige-500: #a88457;
--color-khaki-beige-600: #876945;
--color-khaki-beige-700: #654f34;
--color-khaki-beige-800: #433523;
--color-khaki-beige-900: #221a11;
--color-khaki-beige-950: #18120c;

--color-light-bronze-50: #faf1ea;
--color-light-bronze-100: #f6e2d5;
--color-light-bronze-200: #edc5ab;
--color-light-bronze-300: #e3a982;
--color-light-bronze-400: #da8c58;
--color-light-bronze-500: #d16f2e;
--color-light-bronze-600: #a75925;
--color-light-bronze-700: #7d431c;
--color-light-bronze-800: #542c12;
--color-light-bronze-900: #2a1609;
--color-light-bronze-950: #1d1006;

